/* Text */
/* h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  } */
  
  /* Navigation bar */
  nav{
    background-color: rgb(21, 223, 223);
  }
  nav div ul li a{
    font-size: 18px;
    color: white !important;
  }
.nav-link:hover{
    color:black !important;
    list-style-type: inherit;
  }
  /* General */
  .customNav {
    position: fixed;
    width: 100%;
    /* background: url("../images/transparency.png");
    background-color: transparent !important; */
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 65px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation dropdown menu */
  .dropdown-menu {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: #16181b;
      text-decoration: none;
      background: black;
  }
  
  /* Navigation links */
 
  .navCTA {
    font-size: 15px;
  }

  
  
  
  /* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
  .dropdown-menu {
    left: -97px;
  }
  .btn-color{
    background-color:rgb(21, 223, 223);;
    color: white;
  }
  .btn-color:hover{
    background-color: rgb(16, 199, 199);
    box-shadow: #d0d1d2;
  }
  footer {
    position: absolute;
    width: 100%;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  footer ul {
    justify-content: space-around;
    list-style-type: none;
  }
footer ul li{
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  color: aqua;
}

  footer ul li a{
    color: #f5f5f5;
    margin-left: 5px;
  }
  footer ul li a:hover{
    color:aqua
  }
  .cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
  }
  .card img{
    height: 220px;
  }
  .card-body{
    height: 300px;
  }

  .work{
    display: grid;
  }
  
  .jumbotron {
    background-color: #f5f5f5;
    padding: 5rem 10rem 5rem 10rem;
}
.jumbotron p{
  margin-top: 25px;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}
#skill{
  margin-top:35px;
}
#contact{
  margin-top:35px;
}
.icon{
  width: 50px;
  height: 50px;
}
.skills{
  padding: 25px;
}
.skills ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
}
.contact-info {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.info {
  height: 50px;
  width: 50px;
  padding: 5px;
}
.info img {
  height: 50px;
  width: 50px;
}
.linkedin{
  justify-content: flex-end;
}
.footer-content{
  
}
